@charset "utf-8";
h1 {
	font-size: 30px;
	padding: 0.5em;
	color: #010101;
	background: rgb(243, 132, 95);
	border-bottom: solid 3px #FF0000;
	text-align: left;
}

.ul {
	list-style-type: none;
}
.sub-style {
	padding : 0.5em;

}
.joudan {
	overflow: hidden;
}
.cyber{
	float: left;
    margin: 8px 0 8px 8px;
    padding: 8px;
    width: 500px;
}
.IT {
	float: left;
    margin: 8px 0 8px 8px;
    padding: 8px;
    width: 500px;
}
.gedan {
	clear: both;
	overflow: hidden;
}
.game {
	float: left;
    margin: 8px 0 8px 8px;
    padding: 8px;
    width: 500px; 
}                
.night {
	float: left;
    margin: 8px 0 8px 8px;
    padding: 8px;
    width: 500px;
}                                              
.foreigner {
	clear: both;
}
a:hover img {
	border: 1px solid #ccc;
}
a:active img {
	opacity: 0.5;
 }
h2 {
	border-bottom: solid 3px rgb(252, 124, 5)
}
/*ここからサイバーIT共通*/

th {
	font-size: 20px;
	padding: 0px;
}
td {
	font-size: 18px;	
}

.gaiyou {
	background-color: white;
}
.list {
	overflow: hidden;
}
.list1 {
	float: left;
	margin: 8px 100px 8px 8px;
	padding: 8px;
}
/*ここからサイバーセキュリティ科*/

.cyber_12 {
	clear: both;
	overflow: hidden;
}
.cyber_1 {
	float: left;
	margin: 8px 0 8px 8px;
	border: 1px solid rgb(65, 143, 231);
    padding: 8px;
    width: 500px;
}
.cyber_2 {
	float: left;
    margin: 8px 0 8px 8px;
    padding: 8px;
    width: 500px;
}

#cybertable {
	background-color: rgb(80, 162, 240);
}

/*ここからITスペシャリスト*/


#ittable {
	background-color: rgb(48, 48, 185);
}
.itgaiyou {
	font-size: 15px;
}
.it_12 {
	clear: both;
	overflow: hidden;
}
.it_1 {
	float: left;
	margin: 8px 0 8px 8px;
	border: 1px solid rgb(35, 12, 241);
    padding: 8px;
    width: 500px;
}
.it_2 {
	float: left;
    margin: 8px 0 8px 8px;
    padding: 8px;
	width: 500px;
}
